#card {
    width: 250px;
    display: inline-table;
    min-height: 150px;
    font-size: 20px;
    border: 5px;
    border-style: solid;
    border-radius: 5px;
    text-align: center;
    margin: 10px;
   

}
      
      
@keyframes blinker {
50% {
    background-color: white;
}
}
   
    
}

.container {
    padding: 50px;
}

p{
    
}